.loginPage{
    display: flex;
    

    
}
.loginform{
    margin: 200px 400px 200px;
    

}
.footer{
    font-size: small;
}
.inputbox{

    width: 500px;
    
}
.write{
    
    margin-top: 10px; 
    margin-left: 400px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid;
    border-color: rgb(223, 93, 93);
    border-radius: 8px;
    width: 450px;
    height: 1400px;


}

      .footerSection {
        display: flex;
        
    }
    .labelstyle{
        background-color: black ;
        color:white;
        width:30%;
        display: inline-block;
        margin-left: 10px;
        text-align: center;
    }
    .textstyle{
        width: 90%;
        height: 80%;
        margin-left: 25px;
        padding: 0px 10px;
        border:none;
        font-family:'Courier New', Courier, monospace;
        color:white;
        
        border:none;
        background-color:rgb(223, 93, 93) ;
        
    }
    .secondlabel{
        width: 50%;
        font-weight: small;
        color:white;
        text-align: centre;
        background-color:rgb(223, 93, 93);
        display:inline-block;
        margin-left: 10px;


    }
 
    
    .set{
        margin-top: 30px;
        margin-left: 400px;
        
    }
    .searchpage{
        display:flex;
        width: 90%;
        height: 80%;
        margin-top: 100px;
        margin-left: 100px;
        padding: 0px 10px;
        border:2px solid;
        font-family:'Sensation Light';
        color:white;
        
        border:none;
        background-color:rgb(223, 93, 93) ;
        
       
    }
    
    

    
     
    
    
      
